<%if flash[:notice]%>
  <%flash.each do |name,msg|%>
    <p class="text-center" style='color: green'><%= msg%></p>
  <%end%>
<%end%>
<h1 class="text-center">About the Product</h1>
<p class="text-center">Showing the Detailed Information of the Product</p>
<h1 class="text-center">Product:<%=@myproduct.title%> </h1>
<h6 class="text-center">Status: <%=@myproduct.status%> , Price: <%=@myproduct.price%>, Capacity: <%=@myproduct.capacity%>  </h6>
<h5 class="text-center">Description: <%=@myproduct.description%> </h5>
<div class="flex-row center" >
  <%= button_to "Edit Product" , edit_myproduct_path, method: :get,class:"btn-primary center mt-4 border-0 p-2 rounded-pill" %> &nbsp;
  <%= button_to "Delete Product", myproduct_path, method: :delete,class:"btn-danger center mt-4 border-0 p-2 rounded-pill" %> &nbsp;
  <%= button_to "View all Products", myproducts_path,method: :get,class:"btn-warning center mt-4 border-0 p-2 rounded-pill" %> &nbsp;
</div>
