<div>
  <% if flash[:errors] %>
    <% flash.each do |name,msg| %>
      <p class="text-center" style='color: green'><%= msg %></p>
    <% end %>
  <% end %>
  <h1 class="text-center">Products List</h1>
  <p class="text-center">Click the button to add Product</p>
  <div class="top-50 start-50 center" >
    <div>
      <% if current_renduser %>
        <p class="text-center">You are Logged In as<strong>: <%= current_renduser.role %></strong></p>
         <p class="text-center">with the account of<strong>: <%= current_renduser.email %></strong></p>
      <% end %>
        <table class="table table-warning table-striped">
          <ol class="fs-2">
            <thead>
              <td class="text-center"> ProductName </td>
              <td class="text-center"> Price </td>
              <td class="text-center"> Description </td>
              <td class="text-center"> CreatedBy </td>
              <td class="text-center" colspan=4> Actions </td>
            </thead>
            <% @rendproducts.each do |rendproduct|%>
              <tr>
                <td><%= rendproduct.name %></td>
                <td><%= rendproduct.price %></td>
                <td><%= rendproduct.description %></td>
                <td><%= rendproduct.renduser.email %></td>
                <td><%= button_to "Show", rendproduct_path(rendproduct),method: :get,class:"btn-warning center border-0 p-2 rounded-pill" %> &nbsp;</td>
                <% if current_renduser.role=='admin'%>
                  <td><%= button_to "Edit" , edit_rendproduct_path(rendproduct), method: :get,class:"btn-primary center border-0 p-2 rounded-pill" %> &nbsp;</td>
                  <td><%= button_to "Delete", rendproduct_path(rendproduct), method: :delete,class:"btn-danger center border-0 p-2 rounded-pill" %> &nbsp;</td>
                  <td><%= button_to "Add new Order", new_rendproduct_rendorder_path(rendproduct), method: :get,class:"btn-success center border-0 p-2 rounded-pill" %> &nbsp;</td>
                <% end %>
              </tr>
            <% end %>
          </ol>
        </table>
        <div class="flex-row center">
        <% if current_renduser.role=='admin'%>
          <%= button_to "Add New Product" , new_rendproduct_path,method:  :get,class:"btn-success  mt-4 me-4 border-0 p-2 rounded-pill" %>
        <% end %>
          <%= button_to "Logout", destroy_renduser_session_path, method: :delete,class:"btn-danger center mt-4 me-4 border-0 p-2 rounded-pill"%>
        </div>
      
    </div>
  </div>
</div>
