<div>
  <% if flash[:errors] %>
    <% flash.each do |name,msg| %>
      <p class="text-center" style='color: green'><%= msg %></p>
    <% end %>
  <% end %>
  <h1 class="text-center">Employees List</h1>
  <p class="text-center">Click the button to add Employees</p>
  <div class="top-50 start-50 center" >
    <% if flash[:notice] %>
      <% flash.each do |name,message| %>
        <p class="text-danger"><%= message%></p>
      <% end %>
    <% end %>
    <form class="d-flex">
      <%= form_tag employees_path, method: :get do %>
        <%= email_field_tag :search_query, params[:search_query], class: "form-control me-2"%>
        <%= submit_tag "search", class:"btn btn-outline-success"%>
      <% end %>
    </form>
    <div>
      <table class="table table-warning table-striped">
        <ol class="fs-2">
          <thead>
            <td class="text-center"> Name </td>
            <td class="text-center"> E-mail </td>
            <td class="text-center"> Age </td>
            <td class="text-center"> Salary </td>
            <td class="text-center"> Number Of Orders </td>
            <td class="text-center" colspan=3> Actions </td>
          </thead>
          <% @employees.each do |employee|%>
            <tr>
              <td class="text-center"><%= link_to employee.firstname + " " + employee.lastname, employee_path(employee) %></td>
              <td class="text-center"><%= employee.email %></td>
              <td class="text-center"><%= employee.age %></td>
              <td class="text-center"><%= employee.salary %></td>
              <td class="text-center"><%= employee.no_of_order %></td>
              <td><%= button_to "Edit" , edit_employee_path(employee), method: :get,class:"btn-primary center border-0 p-2 rounded-pill" %> &nbsp;</td>
              <td><%= button_to "Delete", employee_path(employee), method: :delete,class:"btn-danger center border-0 p-2 rounded-pill" %> &nbsp;</td>
              <td><%= button_to "Show", employee_path(employee),method: :get,class:"btn-warning center border-0 p-2 rounded-pill" %> &nbsp;</td>
            </tr>
          <% end %>
        </ol>
      </table>
    </div>
    <div class="center">
      <%= button_to "Add New employee" , new_employee_path,method:  :get,class:"btn-success  mt-4  border-0 p-2 rounded-pill" %>
      <%= button_to "Go To Tasks" , employees_queries_path,method:  :get,class:"btn-success  mt-4  border-0 p-2 rounded-pill" %>
      <%= button_to 'Increase order of first 10 Employees', increaseOrder_path, method: :post, class:"btn-primary  mt-4  border-0 p-2 rounded-pill" %>
      <%= button_to 'Decrease order of first 10 Employees', decreaseOrder_path, method: :post, class:"btn-danger  mt-4  border-0 p-2 rounded-pill" %>
    </div>
  </div>
</div>
