<h1 class="text-center">New Student Form</h1>
<p class="text-center">Add new Student by submitting the form</p>
<% if flash[:errors] %>
  <% flash[:errors].each do |error| %>
    <p class="text-center" style='color: red'><%= error %></p>
  <% end %>
<% end %>
<div class="p-5" >
  <%= form_for @student do |f|%>
    <%= f.label :firstname %>
    <%= f.text_field :firstname ,class:"col-12" %>
    <br>
    <%= f.label :lastname%>
    <%= f.text_field :lastname ,class:"col-12" %>
    <br>
    <%= f.label :department%>
    <%= f.text_field :department, class:"col-12" %>
    <br>
    <%= f.label :DOB%>
    <br>
    <%= f.date_field :DOB, start_year: 1800, end_year: Time.now.year %>
    <br>
    <div>
      <%= f.label :terms_of_usage, class:"center" %>
      <%= f.check_box :terms_of_usage, class:"col-12" %>
      <div>
        <div class="d-flex">
          <%= f.submit class:"btn-success  mt-4  border-0 p-2 rounded-pill center" %> &nbsp;
        <% end %>
        <%= button_to "View all Students", students_path,method: :get,class:"btn-primary center mt-4 border-0 p-2 rounded-pill" %>
      </div>
    </div>
  </div>
