<h1 class="text-center">Edit Faculty Form</h1>
<p class="text-center">Update Faculty by submitting the form</p>
<% if flash[:errors] %>
  <% flash[:errors].each do |error| %>
    <p class="text-center" style='color: red'><%= error %></p>
  <% end %>
<% end %>
<div class=" p-5" >
  <%= form_for @faculty do |f|%>
    <%= f.label :firstname%>
    <%= f.text_field :firstname ,class:"col-12" %>
    <br>
    <%= f.label :lastname%>
    <%= f.text_field :lastname ,class:"col-12" %>
    <br>
    <%= f.label :designation%>
    <%= f.text_field :designation, class:"col-12" %>
    <br>
    <%= f.label :Email%>
    <%= f.text_field :email, class:"col-12" %>
    <br>
    <%= f.label :Contact%>
    <%= f.text_field :phone_num, class:"col-12" %>
    <br>
    <%= f.label :DOB%>
    <br>
    <%= f.date_field :DOB, start_year: 1800, end_year: Time.now.year %>
    <br>
    <div class="d-flex">
      <%= f.submit class:"btn-success  mt-4  border-0 p-2 rounded-pill center "%> &nbsp;
    <% end %>
    <%= button_to "View all Faculties", faculties_path,method: :get,class:"btn-primary center mt-4 border-0 p-2 rounded-pill" %>
  </div>
</div>
