<% if flash[:notice] %>
  <% flash.each do |name,msg| %>
    <p class="text-center" style='color: green'><%= msg %></p>
  <% end %>
<% end %>
<h1 class="text-center">About the Faculty</h1>
<p class="text-center">Showing the Detailed Information of the Faculty</p>
<h1 class="text-center">Faculty Name:<%= @faculty.designation %> <%= @faculty.firstname %> <%= @faculty.lastname %> </h1>
<h6 class="text-center">E-mail: <%= @faculty.email %>, Contact: <%= @faculty.phone_num %> , DOB: <%= @faculty.DOB %> </h2>
<div class="flex-row center" >
  <%= button_to "Edit Faculty" , edit_faculty_path, method: :get,class:"btn-primary center mt-4 border-0 p-2 rounded-pill" %> &nbsp;
  <%= button_to "Delete Faculty", faculty_path, method: :delete,class:"btn-danger center mt-4 border-0 p-2 rounded-pill" %> &nbsp;
  <%= button_to "View all Faculties", faculties_path,method: :get,class:"btn-warning center mt-4 border-0 p-2 rounded-pill" %> &nbsp;
</div>
