<h1>Change Password</h1>
<%if flash[:errors]%>
  <%flash[:errors].each do |error|%>
    <p class="text-center" style='color: red'><%= error%></p>
  <%end%>
<%end%>
<div class=" p-5" >
  <%= form_with(model: @registeruser, url: updatepassword_registeruser_path) do |f| %>
    <%= f.label :password, "Old Password :" %>
    <%= f.password_field :oldpassword ,placeholder: "Enter Your Old Password",id:"oldpw",class:"mb-2 form-control", onchange:"passwordCheck();" %>
    <br>
    <div id="passwordfield" style="display:none">
      <%= f.label :password, "New Password :" %>
      <%= f.password_field :password ,placeholder: "Enter Your New Password",id:"newpw", onchange:"validatePassword();",class:"mb-2 form-control" %>
      <br>
      <%= f.label :password, "Confirm Password :" %>
      <%= f.password_field :confirmpassword ,placeholder: "Enter Your Confirm Password", id:"cnfpw",class:"mb-2 form-control", onchange:"verifyPassword();" %>
      <br>
    </div>
    <div class="d-flex">
      <%= f.submit "Save Password", id:"submitbut", style:"display:none", class:"btn-success  mt-4 me-2  border-0 p-2 rounded-pill center" %>
    <% end %>
    <%= button_to "View Profile", registeruser_path(@registeruser),method: :get,class:"btn-primary center mt-4 border-0 p-2 rounded-pill" %>
  </div>
</div>
<script>
  function passwordCheck() {
      var oldpw = document.getElementById('oldpw').value;
      var value = "<%= @registeruser.password %>";
      if (oldpw == value) {
          document.getElementById('passwordfield').style.display = "block";
          document.getElementById('cnfpw').style.display = "block";
      }else{
          alert("Password Incorrect")
          document.getElementById('passwordfield').style.display = "none";
          document.getElementById('cnfpw').style.display = "none";
      }
  }

  function validatePassword(){
     var newpw = document.getElementById('newpw').value;
     console.log(newpw);
     var regularExpression  =  /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$/;
     if(!regularExpression.test(newpw)){
         alert("Password too short must be 8 characters and should contain atleast one number and one special character");
         document.getElementById('submitbut').style.display = "none";
     }
  }

  function verifyPassword(){
      var newpw = document.getElementById('newpw');
      var cnfnewpw = document.getElementById('cnfpw');
      var regularExpression  =  /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$/;
      if(regularExpression.test(newpw.value) == regularExpression.test(cnfnewpw.value)){
          document.getElementById('submitbut').style.display = "block";
      }
      else{
          alert("Password not same for confirm password")
          document.getElementById('submitbut').style.display = "none";
      }
  }
</script>
