<h1 class="text-center">New Order Form</h1>
<p class="text-center">Add new Order by submitting the form</p>
<%if flash[:errors] %>
  <%flash[:errors].each do |error| %>
    <p class="text-center" style='color: red'><%= error %></p>
  <% end %>
<% end %>
<div class=" p-5" >
  <%= form_for @order do |f| %>
    <%= f.label :Customer %>
    <%= f.select :customer_id, Customer.all.map { |t| [t.fname+ " " +t.lname, t.id]} %>
    <br>
    <%= f.label :Product %>
    <%= f.select :myproduct_id, Myproduct.InStock.map { |t| [t.title, t.id]} %>
    <br>
    <%= f.label :Quantity %>
    <%= f.number_field :quantity ,class:"col-12" %>
    <br>
    <%= f.label :status%>
    <%= f.select(:status, Order.statuses.keys)  %>
    <br>
    <div class="d-flex">
      <%=f.submit class:"btn-success  mt-4  border-0 p-2 rounded-pill center" %> &nbsp;
    <% end %>
    <%= button_to "View all Orders", orders_path,method: :get,class:"btn-primary center mt-4 border-0 p-2 rounded-pill" %>
  </div>
</div>
