<h1 class="text-center">Edit Customer Form</h1>
<p class="text-center">Add new Customer by submitting the form</p>
<%if flash[:errors]%>
  <%flash[:errors].each do |error|%>
    <p class="text-center" style='color: red'><%= error%></p>
  <%end%>
<%end%>
<div class=" p-5" >
  <%= form_with model: [:business, @rcustomer] do |f|%>
    <%= f.label :name%>
    <%= f.text_field :name, class:"col-12 "%>
    <br>
    <%= f.label :email%>
    <%= f.text_field :email, class:"col-12 "%>
    <br>
    <%= f.label :phone%>
    <%= f.telephone_field :phone, class:"col-12 "%>
    <br>
    <div class="d-flex">
      <%= f.submit class:"btn-success  mt-4  border-0 p-2 rounded-pill center" %> &nbsp;
    <% end %>
    <%= button_to "View all Customers", business_rcustomers_path,method: :get,class:"btn-primary center mt-4 border-0 p-2 rounded-pill" %>
  </div>
</div>
