<!-- Form to add new product in the list -->

<h1 class = "text-center"> New Product Form </h1>
<p class = "text-center"> Add new product by submitting the form </p>

<% if flash[:errors] %>
    <% flash[:errors].each do |error| %>
        <p class = "text-center" style = 'color: red'><%= error %> </p>
    <% end %>
<% end %>

<div class="p-5">
    <%= form_for @product do |f| %>
        <%= f.label :name %>
        <%= f.text_field :name ,class:"col-12" %>
        <br>
        <%= f.label :price %>
        <%= f.number_field :price, step: :any ,class:"col-12" %>
        <br>
        <%= f.label :brand %>
        <%= f.text_field :brand ,class:"col-12" %>
        <br>
        <%= f.submit class:"btn-success col-12 mt-4" %>
    <% end %>
</div>