<!DOCTYPE html>
<html>
  <head>
    <title>Hello Simform</title>

<link rel="icon" type="image/x-icon" href="https://media-exp1.licdn.com/dms/image/C510BAQG1GDpqy0JKng/company-logo_200_200/0/1584543975911?e=1654128000&v=beta&t=Hepsc-q7AdbDZFhiunX18t3g2URh7GhQ88DlHFVTB8Y">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
